[buildout]
develop = .
parts = test graph
versions = versions

[versions]
ZODB3 = 3.8
zope.app.apidoc = 3.5

[test]
recipe = zc.recipe.testrunner
eggs = zope.container[test]

[graph]
recipe = zc.recipe.egg
eggs = ${test:eggs}
       tl.eggdeps
