[buildout]
extends = http://download.zope.org/zope3.4/3.4.0/versions.cfg
develop = .
parts = test graph
versions = versions

[versions]
ZODB3 = 3.8
zope.app.apidoc = 3.5
zope.app.container = 3.7.0

[test]
recipe = zc.recipe.testrunner
eggs = zope.container

[graph]
recipe = zc.recipe.egg
eggs = ${test:eggs}
       tl.eggdeps