include *.txt
include MANIFEST.in
include bootstrap.py
include buildout.cfg
include compat.cfg

recursive-include src *.py
recursive-include src *.rst
recursive-include src *.zcml
recursive-include src *.c
recursive-include include *.h *.txt
